// SOLAR SYSTEM FOCUS
.solar_system-focus {
    transform: translate(-50%, -50%) scale(1);
    transition: $solar_system-focus-in-transition;
}

// PLANET ORBIT FOCUS CLASS
.planet-orbit-focus {
    @include size(300px !important);
    transition: 3s !important;
}

// FOCUS PLANET Z-INDEX
.planet-space-front {
    z-index: 10;
}

// PLANET OUT HIDE
.planet-space-out-hide {
    @include size(0px);
}

#{$planet-out-forward-backward} {
    opacity: 0;
}

// PLANETS OUT BACKWARD
.mercury-out-backward {
    transform: scale(0.6) translateX(-1000%);
    transition: transform 6s, opacity 7s;
}

.venus-out-backward {
    transform: scale(0.4) translateX(-800%);
    transition: transform 5s, opacity 5s;
}

.earth-out-backward {
    transform: scale(0.3) translateX(-900%);
    transition: transform 4.5s, opacity 5s;
}

.mars-out-backward {
    transform: scale(0.3) translateX(-1100%);
    transition: transform 4s, opacity 5s;
}

.jupiter-out-backward {
    transform: scale(0.2) translateX(-600%);
    transition: transform 3.5s, opacity 4s;
}

.saturn-out-backward {
    transform: scale(0.1) translateX(-800%);
    transition: transform 3s, opacity 4s;
}

.uranus-out-backward {
    transform: scale(0.1) translateX(-800%);
    transition: transform 2.5s, opacity 3s;
}

.neptune-out-backward {
    transform: scale(0.1) translateX(-800%);
    transition: transform 2s, opacity 3s;
}

// PLANETS OUT FORWARD
.sun-out-forward {
    transform: scale(20) translateX(-300%);
    transition: 1s;
}

.mercury-out-forward {
    transform: scale(40) translateX(-300%);
    transition: transform .6s, opacity 2s;
}

.venus-out-forward {
    transform: scale(30) translateX(-500%);
    transition: transform .8s, opacity 4s;
}

.earth-out-forward {
    transform: scale(30) translateX(-500%);
    transition: transform 1.5s, opacity 4s;
}

.mars-out-forward {
    transform: scale(20) translateX(-400%);
    transition: transform 1.5s, opacity 8s;
}

.jupiter-out-forward {
    transform: scale(15) translateX(-600%);
    transition: transform 3s, opacity 6s;
}

.saturn-out-forward {
    transform: scale(15) translateX(-600%);
    transition: transform 5s, opacity 8s;
}

.uranus-out-forward {
    transform: scale(10) translateX(-500%);
    transition: transform 7s, opacity 9s;
}

// PLANETS IN
#{$planet-in} {
    @include position-in();
}

.sun-in {
    transition: 1.1s;
}

.mercury-in {
    transition: 1.2s;
}

.venus-in {
    transition: 1.3s;
}

.earth-in {
    transition: 1.4s;
}

.mars-in {
    transition: 1.5s;
}

.jupiter-in {
    transition: 1.6s;
}

.saturn-in {
    transition: 1.7s;
}

.uranus-in {
    transition: 1.8s;
}

.neptune-in {
    transition: 1.9s;
}

// OVERLAY NO-CLICK WAIT
.animation_overlay-on {
    height: 100vh;
    z-index: 20;
}

// ANIMATION ORBIT START, PAUSE AND RESET
.orbit-start {
    animation-play-state: running;
}

.orbit-stop {
    animation-play-state: paused;
}

.orbit-reset {
    animation-name: none !important;
}

// ANIMATION BUTTONS ORBIT START AND ORBIT LINES
.pause {
    &:before {
        content: '\f28b' !important;
    }
}

.lines_off {
    &:before {
        content: '\f111' !important;
    }
}

// ANIMATION BUTTON OUT
.button-out {
    transform: translateX(-100%);
    opacity: 0;
    z-index: -1;
    transition: .8s, opacity 1s;
}

// ANIMATION ORBIT LINE ON OFF
.orbit-line-off {
    opacity: 0;
    transition: opacity 1s;
}

.orbit-line_wrap-out {
    transform: rotateX(90deg) scaleX(20) ;
    opacity: 0;
    transition: transform 6s, opacity 2s;
}

// ANIMATION CARDS IN
.all_cards-in {
    opacity: 1;
    transform: translate(0%);
    transition: opacity 1s, transform 1s;
}

// PLANET CARD IN
.planet_card-in {
    height: auto;
    max-height: 1000px;
    background: $card-open-color;
    transition: max-height 1.6s ease-in-out, height 1.6s ease-in-out !important;
}

.planet_card_p-in {
    opacity: 1 !important;
    transition: 2.6s !important;
}

#{$planet-card-all-in} {
    opacity: 1;
    z-index: 1;
    transition: .4s;
}

// ANIMATION SPACE MOVE / STILL
.space_map-move {
    background-size: 4096px 2048px;
    background-repeat: repeat;
    transition: background-size 4s, background-position 3s;
    @include animation-properties-1(space-move, linear, infinite, 40s);
}

.space_map-still {
    background-size: 3072px 1536px;
    background-repeat: repeat;
    transition: background-size 4s, background-position 3s;
}